.create-button {
    display: flex;
    white-space: nowrap;
    background-color: rgb(37 99 235);
    color: white;
    height: 2.5rem;
    margin-right: 0.5rem;
    border: 1px solid rgb(229 231 235);
}

.actions-button {
    white-space: nowrap;
    background-color: white;
    color: rgb(17 24 39);
    height: 2.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    border: 1px solid rgb(209 213 219);
}

.edit-button {
    display: flex;
    align-items: center;
    white-space: nowrap;
    // background-color: rgb(55 65 81);
    color: white;
    height: 2.5rem;
    border: 1px solid rgb(75 85 99);
}
